@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Implementing MVC Areas</h1>
    <p>The large ASP.NET MVC application includes many controllers, views, and model classes. So it can be difficult to maintain it with the default</p>
    <p>Area allows us to partition the large application into smaller units where each unit contains a separate MVC folder structure, same as the default MVC folder structure.</p>
    <p>For example, a large enterprise application may have different modules like admin, finance, HR, marketing, etc. So an Area can contain a separate MVC folder structure for all these modules</p>
</div>
